:root {
    --custom-primary: #C6C7C7;
    --custom-secondary: #030D27;
    --custom-tertiary: #585B75;
    --custom-quartery: #858A94;
    --custom-white: #FFFFFF;
    --custom-black: #000000;
    --custom-detail: #A57B10;
}

.custom-text-primary {
    color: var(--custom-primary);
}

.custom-bg-primary {
    background-color: var(--custom-primary);
}

.custom-text-secondary {
    color: var(--custom-secondary);
}

.custom-bg-secondary {
    background-color: var(--custom-secondary);
}

.custom-text-tertiary {
    color: var(--custom-tertiary);
}

.custom-bg-tertiary {
    background-color: var(--custom-tertiary);
}

.custom-text-quartery {
    color: var(--custom-quartery);
}

.custom-bg-quartery {
    background-color: var(--custom-quartery);
}

.custom-text-white {
    color: var(--custom-white);
}

.custom-bg-white {
    background-color: var(--custom-white);
}

.custom-text-black {
    color: var(--custom-black);
}

.custom-bg-black {
    background-color: var(--custom-black);
}

.custom-link-primary {
    color: var(--custom-primary);
}

.custom-link-primary:hover {
    color: #393e61;
}

.custom-link-secondary {
    color: var(--custom-secondary);
}

.custom-link-secondary:hover {
    color: #6c879a;
}

.custom-link-tertiary {
    color: var(--custom-tertiary);
}

.custom-link-tertiary:hover {
    color: #ac6865;
}

.custom-link-quartery:hover {
    color: #555a63;
}