:root{
    --custom-primary: #78808F;
    --custom-secondary: #CBD1DA;
    --custom-tertiary: #030D27;
    --custom-quartery: #2F3947;
    --custom-fifth: #4E5F7B;
    --custom-sixth: #EBC055;
    --custom-white: #FFFFFF;
    --custom-black: #000000;
}
.custom-text-primary{
    color: var(--custom-primary);
}
.custom-bg-primary{
    background-color: var(--custom-primary);
}
.custom-text-secondary{
    color: var(--custom-secondary);
}
.custom-bg-secondary{
    background-color: var(--custom-secondary);
}
.custom-text-tertiary{
    color: var(--custom-tertiary);
}
.custom-bg-tertiary{
    background-color: var(--custom-tertiary);
}
.custom-text-quartery{
    color: var(--custom-quartery);
}
.custom-bg-quartery{
    background-color: var(--custom-quartery);
}
.custom-text-fifth{
    color: var(--custom-fifth);
}
.custom-bg-fifth{
    background-color: var(--custom-fifth);
}
.custom-text-sixth{
    color: var(--custom-sixth);
}
.custom-bg-sixth{
    background-color: var(--custom-sixth);
}
.custom-text-white{
    color: var(--custom-white);
}
.custom-bg-white{
    background-color: var(--custom-white);
}
.custom-text-black{
    color: var(--custom-black);
}
.custom-bg-black{
    background-color: var(--custom-black);
}
.custom-link-primary{
    color: var(--custom-primary);
}
.custom-link-primary:hover{
    color: #393e61;
}
.custom-link-secondary{
    color: var(--custom-secondary);
}
.custom-link-secondary:hover{
    color: #6c879a;
}
.custom-link-tertiary{
    color: var(--custom-tertiary);
}
.custom-link-tertiary:hover{
    color: #05102f;
}
.custom-link-quartery{
    color: var(--custom-quartery);
}
.custom-link-quartery:hover{
    color: #1f252e;
}
.custom-link-fifth{
    color: var(--custom-fifth);
}
.custom-link-fifth:hover{
    color: #33425b;
}
.custom-link-sixth{
    color: var(--custom-sixth);
}
.custom-link-sixth:hover{
    color: #9b7925;
}
