body {
    padding-top: 55px;
    
    scrollbar-width: none; 
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

#image-wrapper {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav {
    overflow: hidden;
    background-color: #585B75;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a[id="hoverer"]:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
}

.topnav a.active {
    color: black;
    font: bold;
}

.navbar-nav>li {
    margin-left: 45px;
    margin-right: 45px;
}

h2.normal {
    font-weight: normal;
}

h2.thick {
    font-weight: bold;
}

h2.thicker {
    font-weight: 900;
    color: #000000;
}

.maintxt {
    position: relative;
}

.maintxt>img,
.overlay-text {
    position: absolute;
}

.therd_section {
    background-color: #ffffff;
    color: #000000;
}

.mrg-top-sec {
    margin-top: 100px;
}

.mrg-top-sec-two {
    margin-top: 350px;
}

.mrg-top-quart {
    margin-top: 150px;
}

.pad-top-title {
    padding-top: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Section 2 */

/* Section 3 */

.link-rm{
    text-decoration: none;
}

.center-text {
    position: relative;
    display: table-cell;   
    vertical-align: middle;
}

.button {
    text-align: center;
    display: table;
    text-decoration: none;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.small-middle-container{
    position: relative;
	margin: auto;
	width: 40%;
    background-size: contain;
}

.fetures-title{
    text-align: center;
    font-size: larger;
    font: bold;
}